//- This is the landing page of the website 
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Connect2U
        link(rel="stylesheet", href="landing.css")
        
    body 
        nav
            div(class="navbar")
                a(href="#") Home
                a(href="#") About Us
                a(href="#") Ping
            
        
        div(class="login-box")
            h2 Join Room
            form(action="/main",method="get")
                div(class="user-box")
                    input(type="text" name="")
                    label Username
                
                div(class="user-box")
                    input(type="text" name="" required="true")
                    label Room Id
                a(href="")  
                    input(type="submit", value="Join") 
                