//- This is the landing page of the website 
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Connect2U
    body 
        h1 Welcome to the Connect2U
        div(class="header")   
            h1 This is header
        div(class="makeRoom")
            h3 Generate Room
            form(action="/main", method="get")
                input(type="submit" placeholder="Generate Room Id") 
        div(class="joinRoom")
            h3 Join Room
            form(action="/main", method="get")
                input(type="text" placeholder="Enter the room id here" )
                input(type="submit" placeholder="Join Room ") 
        h3 PS :pls share the url for joining the room 