//- This is the landing page of the website 
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Connect2U
    body    
        h1 Welcome to the Connect2U
        form(action="/main", method="get")
            input(type="submit") 