html {
  height: 100%;
}
body {
  min-height: 100%;
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient( #243b55, rgba(7,97,138,1) 0%);
}
.wrapper{
  margin-bottom: -50px;
}

nav
{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    
}

nav a{
    flex-direction: row-reverse;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 1.6em;
    margin-right: 10px;
    border-radius: 2px;
    font-weight: bold;
    text-shadow: 2px 1px 5px rgba(0,0,0,.6) ;
}

nav a:hover{
    color: rgb(109, 198, 240) ;
    cursor: pointer;
   font-weight: bold;
   transition: all;
   transition-delay: .2s;
   transition-duration: .4s;
 
    
}


nav::before {
    content: "";
    z-index: -1;
    background: rgb(10,68,136);
    background: linear-gradient(90deg, rgba(10,68,136,1) 0%, rgba(7,97,138,1) 0%, rgba(7,83,133,1) 0%, rgba(3,147,194,1) 12%, rgba(2,173,218,1) 32%, rgba(0,212,255,1) 50%);
    opacity: 0.9;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 2px;
    border-radius:0px 0px 10px 10px ;
}
.formCard{
    border: 2px solid black;
    display: inline-block;
    

}

/* --------------------------------------form---------------------------------  */

  
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a>input {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: none;
    border: none;
  }
  
  .login-box a>input:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #0677d4,
                0 0 25px #0791bb,
                0 0 50px #0a8cd8,
                0 0 100px #0681e6;
  }

  #footer {
    position:absolute;
    /* margin-top: -50px; */
    
    bottom:0;
    width:100%;
    z-index: -3;
    /* height:60px;   Height of the footer */
    /* background:#6cf; */
 }
 
 /* .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  } */