body{
    margin: 0;
    padding: 0;
}
#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
video{
    height: 248px;
    width:350px ;
    object-fit: cover;
    /* margin: 4px; */
    
}
.video__element{
    height: 281px;
    width: 357px;
    border: 3px solid rgb(148, 148, 12);
    margin-left: 5px;
    margin-right: 5px;
    margin-top:2px ;
    margin-bottom:2px ;
}
#avtar{
    /* height: ; */
    z-index: 3;
    text-align: center;
    position: absolute;
    background-color: rgb(138, 137, 137);
    border-radius: 0 10px 5px 0px;
}
#avtar >span{
    padding-left: 2px;
    color: green;
}
video i*{
    /* color: white; */
    background-color: white;
    z-index: 2;
}
.main{
    height: 100vh;
    display: flex;
}
.main__left{
    flex: .8;
    display: flex;
    flex-direction: column;
}
.main__right{
    flex: .2;
}

.main__videos{
    flex-grow: 1;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__controls{
    display: flex;
   background-color: #1C1E20;
   color: white;
   padding: 3px ;
   position:sticky;   /*for making the control buttons to the bottom of the page after scrolling */
    bottom: 0px; 
    justify-content: space-between;
}
.main__controls__block{
    display: flex;
    flex-direction: row;
    padding: 0px 20px ;
}
.main__controls__button{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 0px 5px ;
    padding: 5px;
    text-align: center;
}
.main__controls__button:hover{
    background-color: #343434;
    border-radius: 2px;
}
.leave-meeting >span{
   color: red;
    
}

.main__right{
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #303042;
}

.main__header{
    color: #F5F5F5;
    text-align: center;
    padding-top: 4px;
}
.main__chat__window{
    flex-grow: 1;    /*this is for the making the window occupy all the space of the sereen */
    overflow-y: scroll;
}
.main__message__container{
    padding:17px 12px ;
    display: flex ;
}
.main__message__container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color:#F5F5F5 ;
}
.fas{
    color: white;
    padding-top: 3px;
    /* padding-right: 4px ; */
    margin-left:4px ;
}
.messages{
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
}
.unmute{
    color: red;
}
.mute{
    color: green;
}
.stop{
    color: green
}
.play{  
    color: red
}